<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>

<form  action='/answer' method="get">
  <input class="user_input" type="text" name="question" placeholder="Ask your coach anything">
  <input class="btn-treehouse"  value ="Ask" type="submit" >
</form>
